
body
	margin 1em 2em

h1,h2,h3
	font-family sans-serif
	font-weight 500

p,aside,time
	font-family serif

// layout
#menu-outer
	background-color rgba(0, 0, 0, 0.1)
	border 1px solid rgba(0, 0, 0, 0.1)
	border-radius 0.3em

#menu-inner
	padding 0.3em
	a
		display inline-block
		margin 0.1em 0.5em 0 0.3em

// archive
#archive
	// your style
	.archive-item
		// your style

// category
#category
	// your style
	.category-item
		// your style

// page
article#page
	// your style

// post
article#post
	// your style

// tag
#tag
	.tag-item
		// your style

// pagination
#pagination
	text-align center
	.prev,.next
		display inline-block
		margin 0.3em

// recent-posts
#recent-posts
	.recent-post-item
		margin-bottom 0.3em
		a
			margin-right 1em
